<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicio V-For - Curso Completo de Vuejs</title>
    <script src="./vuejs/vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
       <button @click="puxarCursos">Cursos</button>
       <ul>
           <li v-for="(curso, index) in cursos" :key="index">
                <a :href="curso.link" target="_blanck">{{curso.curso}}</a>
                <ul>
                    <li v-for="(aula, index) in curso.aulas" :key="index">
                        {{aula.nome}} | Tempo: {{aula.tempo}}
                    </li>
                </ul>
           </li>
       </ul>
    </div>
    <script>
        const vue = new Vue({
            el: '#app',
            data: {
               cursos: {}
            },
            methods: {
                puxarCursos() {
                    fetch(`./vuejs/cursos.json`)
                        .then(res => res.json())
                        .then(res => {
                            this.cursos = res;
                        }) 
                }
            }
        });
    </script>
</body>
</html>